.overlay{
    display: flex;
    position:absolute;
    height: 100%;
    width:100%;
}

.formToAdd{
    margin-left: 170px;
    background-color: rgba(0,0,0,0.5);
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    align-items: center;
}


.epats{
    margin-bottom: 40px;
}

.inpFs{
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
}

.modalBtns{
    background-color: #8085e9;
    color: white;
    width: 40px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalBtns:hover{
    cursor: pointer;
}