.cardsInput{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.fieldTitle{
    padding: 10px 10px 10px 0px;
}

.fieldRadDiv{
    display: flex;
}

.opts{
    display: flex;
    padding-right: 8px;
}