.navComp{
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    color: #616161;
    font-weight: 700;
    height: 30px;
}

.navImgs{
    width: 27px;
    height: 27px;
    padding-right: 10px;
}


.navCompSpl{
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 20px;
    padding-right: 10px;
    color: #76c4ff;
    font-weight: 700;
    height: 30px;
    

    background-color: #DAEFFF;
    border-left: 4px solid #76c4ff;
}
