.dos{
    display: flex;
    flex-direction: column;
    width: 105px;
    justify-content: center;
}


.dataFor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}



.data1{

}