table{
    width: 100%;
    border-collapse: collapse;
    background-color: #eaeaea;
}
th{
    background-color: #dfe2e9;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
}


tr:nth-child(even){background-color: #fff}
tr:nth-child(odd){background-color: #f5f5f5}

td{
    font-size: 12px;
    text-align: left;
    padding: 9px;
    padding-right: 0;
}

tr{
    border-left: 1px solid #eaeaea;    
    border-bottom: 1px solid #d4e2e9;    
}

/* dfe2e9 */


#hedms{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.actionBar{
    display: flex;
    justify-content: space-between;
}


.actIcons{
    height: 17px; width: 17px;
}